@mixin circle_style {
  border-radius: 20px;
  background-color: transporent;
  border-color: white;
  border-style: solid;
}
@mixin heightThenWidth {
  transition-property: height, width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s, 0.5s;
}
@mixin widthThenHeight {
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s, 0.5s;
}
@mixin dot {
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}
