body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: url("../images/header_background.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
}


@mixin circle_style {
  border-radius: 50%;
  background-color: transporent;
  border-color: white;
  border-style: solid;
}

.menu-btn  {
  margin-top: 55px;
  float: left;

  position: relative;
  width: 35px;
  height: 35px;

  @include circle_style;
  border-width: 3px;
}

.circle_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;

  @include circle_style;
  border-width: 2px;
}

header h1 {
  margin-left: 45px;
  font-size: 21px;
  font-family: 'Merriweather', serif;
  color: white;

  padding-top: 62px;
  padding-left: 10px;
}
